# ===== Python =====
# Игнорировать виртуальное окружение
venv/

# Игнорировать файлы компиляции Python
__pycache__/
*.py[cod]
*$py.class

# Игнорировать дистрибутивы и сборки
build/
dist/
*.egg-info/
.eggs/

# Игнорировать конфигурацию тестирования
.pytest_cache/
.coverage
*.cover
htmlcov/

# ===== VS Code =====
.vscode/

# ===== Системные файлы =====
.DS_Store
Thumbs.db

# ===== Логи =====
*.log
